:root {
  --nav-height: 70px;
  --side-bar-width: 10%;
}

.row_side_bar {
  position: relative;
}

main {
  height: calc(100vh - var(--header-height));
  padding-left: var(--side-bar-width);
  padding-top: var(--nav-height);
}

header {
  height: var(--header-height);
}

.content {
  overflow: auto;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: var(--nav-height);
  width: var(--side-bar-width);
  z-index: 600;
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}