:root {
  --header-height: 70px;
  --side-bar-width: 10%;
  --navbar-brand-width: 180px;
  --navbar-drop-menu-width: 170px;
  --blue-custom: rgb(26, 115, 232);
  --dark-blue-custom: rgb(18, 41, 62);
  --orange-bell: rgb(255, 143, 0);
  --red-icon-code: rgb(242, 101, 81);
  --border-radius-card: 5px;
}

main {
  height: calc(100vh - var(--header-height));
  overflow: auto;
  padding: 0;
}

header {
  height: var(--header-height);
}

ul {
  list-style: none;
  padding-left: 0;
}

/*******************************************************
      UTILITIES
*******************************************************/
.padding-none {
  padding: 0;
}
/*******************************************************/

/*----header----*/
header li{
  margin-right: 30px;
}

header .fa-bell {
  color: orange;
}

.navbar-brand img[alt="Logo mobile"] {
  height: 50px;
}
/*----/header----*/

/*----sidebar menu----*/
.aside {
  background-image: url(../img/sidebar-bg.png);
  background-color: var(--dark-blue-custom);
  color: white;
  padding-top: 10px;
}

.aside ul {
  width: fit-content;
  padding-left: 0;
  height: calc(100% - 45px);
}

.aside ul, .aside .admin {
  margin: 0 auto;
}

.aside .admin {
  width: fit-content;
}

.aside li{
  display: flex;
  margin-bottom: 20px;
}
/*----/sidebar menu----*/

/*----riga top main----*/
.top-row {
  background-color: var(--blue-custom);
  padding: 25px 0;
}
/*----/riga top main----*/

/*----colonna sinistra main----*/
.left-col {
  padding-left: 25px;
}
/*----/colonna sinistra main----*/

/*----card----*/
.card {
  border-radius: var(--border-radius-card);
}

.card .card-title {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 5px;
  border-top-left-radius: var(--border-radius-card);
  border-top-right-radius: var(--border-radius-card);
}
/*----/card----*/

/*----tabella----*/
[scope="row"]::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /*icon*/
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 5px;
  content: "\f121";
  color: white;
  background-color: var(--red-icon-code);
  padding: 5px 7px;
  border-radius: 50%;
}

[scope="row"] {
  font-weight: 400;
}

.table-buttons i {
  color: grey;
}

.table-buttons .btn {
  border-color: grey;
}

thead tr th:not(:first-child), tbody tr td{
  text-align: center;
}

.offcanvas {
  width: 70%;
}
/*----/tabella----*/

/*******************************************************
      RESPONSIVE
*******************************************************/

@media screen and (max-width: 767px){
  thead tr th:nth-child(2), tbody tr td:nth-child(2),
  thead tr th:nth-child(3), tbody tr td:nth-child(3) {
    display: none;
  }
}


@media screen and (min-width: 992px){
  .aside i {
    margin-right: 10px;
  }
}